:root{
    --clr-neonred: rgb(255, 0, 0);
    --clr-neongreen: rgba(20, 255, 165, 1);
    --clr-bg: rgb(0, 0, 0);

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    background: var(--clr-bg);
    align-items: center;
    --webkit-backface-visibility: hidden;
    

  

}

.neon-red-box {
    height: 9rem;
    width: 1rem;
    color: var(--clr-neonred);
    /* display: inline-flex; */
    text-decoration: none;
    border: var(--clr-neonred) .125em ;
    border-radius: .2em;
    padding: .25em 1.25em;
    background: var(--clr-neonred);
    box-shadow: 
        0 0 .1em var(--clr-neonred),
        0 0 .2em var(--clr-neongreen),
        0 0 .3em var(--clr-neonred);
        
    align-items: center;
    animation: border-flicker2 1s linear infinite alternate-reverse;
   
}

.underlay-red{
    height: 15em;
    width: .2em;
    color: var(--clr-neonred);
    display: inline-flex;
    text-decoration: none;
    /* border: var(--clr-neongreen) .125em ; */
    border-radius: .1em;
    /* padding: .25em 1.25em; */
    background: var(--clr-neonred);
    transform: translateY(-60px);
    /* box-shadow: 
        0 0 .1em var(--clr-neongreen),
        0 0 .2em var(--clr-neongreen),
        0 0 .3em var(--clr-neongreen); */
    /* animation: border-flicker 1s linear infinite alternate-reverse; */
   
        
}



.neon-green-box{
    
    height: 9rem;
    width: 1rem;
    color: var(--clr-neongreen);
    /* display: inline-flex; */
    text-decoration: none;
    border: var(--clr-neongreen) .125em ;
    border-radius: .2em;
    padding: .25em 1.25em;
    background: var(--clr-neongreen);
    box-shadow: 
        0 0 .1em var(--clr-neongreen),
        0 0 .2em var(--clr-neongreen),
        0 0 .3em var(--clr-neongreen);
        
    align-items: center;
    animation: border-flicker 1s linear infinite alternate-reverse;
  
    
}

.underlay-green{
    height: 15em;
    width: .2em;
    color: var(--clr-neongreen);
    display: inline-flex;
    text-decoration: none;
    /* border: var(--clr-neongreen) .125em ; */
    border-radius: .1em;
    /* padding: .25em 1.25em; */
    background: var(--clr-neongreen);
    transform: translateY(-60px);
    /* box-shadow: 
        0 0 .1em var(--clr-neongreen),
        0 0 .2em var(--clr-neongreen),
        0 0 .3em var(--clr-neongreen); */
    /* animation: border-flicker 1s linear infinite alternate-reverse; */

    
}

@keyframes border-flicker {
    0% {
      opacity: 1;

      box-shadow: 
        0 0 .2em  var(--clr-neongreen),
        0 0 .5em  var(--clr-neongreen),
        0 0 1em  var(--clr-neongreen);
      

  

    }


}


@keyframes border-flicker2 {
    0% {
      opacity: 1;

      box-shadow: 
        0 0 .2em  var(--clr-neonred),
        0 0 .5em  var(--clr-neonred),
        0 0 1em  var(--clr-neonred);
      

  

    }


}


